<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OwnPlayground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD68EC9C1CCDC86200CF049F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD68ECB01CCDC86300CF049F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD68ECBB1CCDC86300CF049F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
